@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import 'cmc-site/app/styles/base/variables';
@import 'cmc-site/app/styles/helpers/mixins';
@import 'cmc-site/app/styles/helpers/compass-altered/typograpy/vertical_rhythm';
@import 'cmc-site/app/styles/base/forms';
@import '../components/profile-display/profile-form';
@import '../components/change-password/change-password';
@import '../components/register-form/register-form';


.cmc-form--change-password {
    li{
        margin-bottom: rhythm(1);
    }
}
