.register-form-container {
    position: relative;
}
.register-form__submit-btn {
    @extend %input;
    @extend %input-button;
    margin-right: $grid-gutter-width/2;
    margin-top: 2px;
}

.register-form__error{
    color: $font-color-error;
}
