<p>Fill out the form below and select "Register" to begin the registration process for access to the Product Center.</p>
<form class="cmc-form register-form">
    <p class="register-form__error">{{error}}</p>
    <fieldset>
        <ul>
            <li>
                <label for="username">Email</label>
                <div class="input-wrapper">
                    <input type="email" name="username" id="username"
                           VCARD_NAME="vCard.Email"
                           autocomplete="off"
                           autocorrect="off"
                           autocapitalize="off"
                           spellcheck="false" required>
                </div>
            </li>
            <li>
                <label for="register-password">Password</label>
                <div class="input-wrapper">
                    <input type="text" name="password" id="register-password"
                           autocomplete="off"
                           autocorrect="off"
                           autocapitalize="off"
                           spellcheck="false"
                           required minlength="6">
                </div>
            </li>
            <li>
                <label for="password-repeat">Repeat Password</label>
                <div class="input-wrapper">
                    <input type="text" name="password-repeat" id="password-repeat"
                           autocomplete="off"
                           autocorrect="off"
                           autocapitalize="off"
                           spellcheck="false"
                           required
                           data-parsley-equalto-message="Passwords must match"
                           data-parsley-equalto="#register-password">
                </div>
            </li>
            {{>../profile-display/form.hbs}}
            <li>
                <input type="button" class="register-form__submit-btn" value="Register">
            </li>
        </ul>
    </fieldset>
</form>
