---
# <!-- @formatter:off -->
title: Campus Management Corp - Change Password
layout: cmc-site.hbs
banner-type: Graphic
banner-title: Change My Password
banner-image: /images/banners/Banner_Passwod.png
additional-scripts:
  - src: /scripts/page--change-password.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/3col"}}

{{#content "top"}}
{{>cmc-article__header}}
{{/content}}

{{#content "body"}}
<div class="cmc-article">
    <div class="change-password-form-container">
        <p>Passwords are managed by our authentication provider Auth0. Please click the button below to receive email instructions on changing your password.</p>
        <form class="cmc-form cmc-form--change-password">
            <fieldset>
                <ul>
                    <li>
                        <button class="change-password-form__submit-btn">Send Change Password Email</button>
                        <button class="change-password-form__cancel-btn">Cancel</button>
                    </li>
                </ul>
            </fieldset>
        </form>
        <p class="change-password-form__error">{{error}}</p>
    </div>
</div>
{{/content}}
{{/extend}}
