---
# <!-- @formatter:off -->
title: Campus Management Corp - Product Center
layout: cmc-site.hbs
banner-type: Graphic
banner-title: Welcome to the Higher Education Product Center
banner-sub-title: See how today’s institutions deliver higher education on demand!
banner-image: /images/banners/Banner_DemoCenter.gif
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/3col"}}

{{#content "top"}}
{{>cmc-article__header}}
{{/content}}

{{#content "aside-left" mode="append"}}
<div class="demo-center-form-left">
    <div class="product-center-login is-unauthenticated">
        <div class="product-center-login__register-box">
            <p>Register To Enter the Product Center</p>
            <a class="product-center-login__register-link" href="{{@root.config.domains.product-center}}/register/">Register</a>
        </div>
        <div class="login-form-container login-form-container--product-center-left">
            <div class="loading--placeholder">Loading...</div>
        </div>
    </div>

    <div class="is-authenticated has-no-dcaccess democenter-menu-content--has-no-access">
        <p class="democenter-menu-content__under-review-message">Account under review, please try again later.</p>

        <div class="demo-center-form-left__request-access">
            <p class="demo-center-form-left__request-access-text">Request Access <br> To Enter the Product Center </p>
            <button class="cmc-button demo-center-form-left__resend-request-button">Resend Request</button>

            <button class="login-form__refresh-btn cmc-button">Refresh Credentials</button>
        </div>
    </div>
    <div class="democenter-menu-content--has-access is-authenticated has-dcaccess">
        <p>
            <span>Enter</span>
            the Product Center
        </p>
        <a href="{{@root.config.domains.product-center}}/product-center/" class="cmc-button">Enter</a>
    </div>
</div>
{{/content}}

{{#content "body"}}
<div class="cmc-article">
    <div class="cmc-article__video">
        <div class="cmc-article__video__video">
            <div class="video-wrapper--16x9">
                <!--
                <iframe src="https://www.youtube.com/embed/TGXVkbKvpHo" frameborder="0" wmode="Opaque"
                        style="display: block;"></iframe>
                        -->
            </div>
        </div>
    </div>
    <p>Mobile recruitment. Highly personalized engagement. Keeping students on the path to success. See real-world
        examples of how the CampusNexus<sup>®</sup> Suite is driving results for today’s colleges and universities.</p>

    <p>Follow our prospective student, ANDY, as he progresses through the student lifecycle, from recruitment and
        admissions - and beyond.</p>

    <p>Register now to enter the product center.</p>
</div>
{{/content}}
{{/extend}}
