---
# <!-- @formatter:off -->
title: Campus Management Corp - Change Password
layout: cmc-site.hbs
banner-type: Graphic
banner-title: Password Reset
banner-image: /images/banners/Banner_Passwod.png
additional-scripts:
  - src: /scripts/page--password-reset.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/3col"}}

{{#content "top"}}
{{>cmc-article__header}}
{{/content}}

{{#content "body"}}
<div class="cmc-article">
    <div class="change-password-form-container">
        <p>Forgot Your Password?</p>
        <p>Passwords are managed by our authentication provider Auth0. Please click the button below to receive email instructions on changing your password.</p>
        <form class="cmc-form cmc-form--change-password">
            <fieldset>
                <ul>
                    <li>
                        <label for="email">Email</label>
                        <div class="input-wrapper">
                            <input type="email" id="email" name="email"
                                   value=""
                                   required>
                        </div>
                    </li>
                    <li>
                        <button class="change-password-form__submit-btn">Send Password Reset Email</button>
                        <button class="change-password-form__cancel-btn">Cancel</button>
                    </li>
                </ul>
            </fieldset>
        </form>
        <p class="change-password-form__error">{{error}}</p>
    </div>
</div>
{{/content}}
{{/extend}}
