---
# <!-- @formatter:off -->
title: Campus Management Corp - Profile
layout: cmc-site.hbs
banner-type: Graphic
banner-title: Profile
banner-image: /images/banners/Banner_Profile.png
additional-scripts:
  - src: /scripts/page--profile.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/3col"}}

{{#content "top"}}
{{>cmc-article__header}}
{{/content}}

{{#content "body"}}
<div class="cmc-article">
    <div class="profile-form-container">Loading...</div>
</div>
{{/content}}
{{/extend}}
