---
# <!-- @formatter:off -->
title: Campus Management Corp - Register
layout: cmc-site.hbs
banner-type: Graphic
banner-title: Product Center Registration
banner-image: /images/banners/Banner_DemoCenter.gif
additional-scripts:
  - src: /scripts/page--register.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/3col"}}

{{#content "top"}}
{{>cmc-article__header}}
{{/content}}

{{#content "body"}}
<div class="cmc-article">
    <div class="register-form-container" data-source="product-center--cmc--en-us">Loading...</div>
</div>
{{/content}}
{{/extend}}
