---
# <!-- @formatter:off -->
title: Product Center
layout: cmc-site.hbs
banner-type: Graphic
banner-title: Welcome to the Higher Education Product Center
banner-sub-title: See how today’s institutions deliver higher education on demand!
banner-image: /images/banners/Banner_DemoCenter.gif
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/1col"}}

{{#content "top"}}
{{>cmc-article__header}}
{{/content}}


{{#content "body"}}
<div class="cmc-article">
    <section class="demo-center-home">
        <section class="demo-center-home__campusnexus-student">
            <img class="demo-center-home__section-header-img" src="/images/nexuscrmlogo.png">
            <ul class="demo-center-home__demos-list">
                <li>
                    <a class="demo-center-home__demo-link" href="/EN-US/product-center/Pages/Recruitment.aspx">
                        <img src="/images/demo-center-home__demo-link__img--recruitment.png">
                        <span>Recruitment</span>
                    </a>
                </li>
                <li>
                    <a class="demo-center-home__demo-link"  href="/EN-US/product-center/Pages/Admissions.aspx">
                        <img src="/images/demo-center-home__demo-link__img--admissions.png">
                        <span>Admissions</span>
                    </a>
                </li>

                <li>
                    <a class="demo-center-home__demo-link"  href="/product-center/retention/">
                        <img src="/images/demo-center-home__demo-link__img--retention.png">
                        <span>Retention</span>
                    </a>
                </li>
                <li>
                    <a class="demo-center-home__demo-link" href="/EN-US/product-center/Pages/Performance-Management.aspx">
                        <img src="/images/demo-center-home__demo-link__img--manager.png">
                        <span>Metrics Management</span>
                    </a>
                </li>

            </ul>
            <p class="demo-center-home__view-demo-note-bottom-line">Select from above to view a demo</p>
        </section>
    </section>
</div>
{{/content}}
{{/extend}}
